<div class="container">
  <div class="row flex-container">
    <div *ngFor="let item of gameDetails; let i = index" class="col-sm-3">
      <img width="150" alt="Game Logo" src="{{ imagesUrl[i] }}" />
      <div class="border">
        Name : {{ item.boothName }}<br />
        Rs.{{ item.pricePerHour }} per hour<br />
        with - {{ item.specialFeature }}
      </div>
      <div *ngIf="gameBoothId == item.id" class="border">
        Customer : {{ customer.name }}<br />
      </div>
      <div>
        <button
          class="btn btn-success"
          data-toggle="modal"
          data-target="#myModal"
          [hidden]="buttonChange && gameBoothId == item.id"
          (click)="getId(item.id)"
        >
          Start
        </button>
        <div *ngIf="gameBoothId == item.id">
          <button
            [hidden]="!buttonChange"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#myModalBill"
            (click)="pauseTimer()"
          >
            Stop
          </button>

          <p>{{ timeLeft }} Seconds Left..</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Customer Details</h4>
      </div>
      <div class="modal-body">
        <form #customerForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="boothid">Booth Id</label>
            <input
              disabled
              type="text"
              class="form-control"
              id="boothid"
              name="boothId"
              [(ngModel)]="customer.boothId"
            />
          </div>
          <div class="form-group">
            <label for="row2">Customer Name</label>
            <input
              type="text"
              class="form-control"
              id="row2"
              name="name"
              [(ngModel)]="customer.name"
            />
          </div>
          <div class="form-group">
            <label for="row3">Hours</label>
            <input
              type="number"
              class="form-control"
              id="row3"
              name="hours"
              #hours
              [(ngModel)]="customer.hours"
            />
          </div>

          <button type="submit" class="btn btn-primary">
            Add User</button
          >&nbsp;
          <button
            class="btn btn-success"
            (click)="startTimer()"
            data-dismiss="modal"
          >
            Begin
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalBill" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Bill Information</h4>
      </div>
      <div class="modal-body">
        <p>
          The time for the booth "{{ BoothName }}" has ended for the
          <b>{{ customer.name }}</b>
        </p>
        <p>
          The Amount to be charged is Rs.
          {{ bill }}
        </p>

        <button class="btn btn-danger pull-right" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
